##################
#     Python     #
##################

*.pyc
*.pyc~


##################
#     PyCharm    #
##################

.idea/


##################
#    OSX Crap    #
##################

.DS_Store
